# Node modules
node_modules/

# TypeScript
*.tsbuildinfo

# Output directories
dist/
build/

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# IDE settings
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Local env
.env
.env.*

# Mac backup
*.swp
*.swo

# Misc
*.tgz
examples/*.js
examples/*.map
